@import 'styles/colors';
@import 'styles/breakpoints';
@import 'styles/mixins';

.root {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.isActive {
    .position {
      color: $violet;
    }
    .avatar {
      border: 3px solid $violet;
    }
    .penalty {
      color: $orange;
    }
  }

  .position {
    width: var(--position-width);
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: 0.4rem;
    transition: .3s ease;
    &.isLast {
      width: min-content;
    }
  }

  .avatar {
    --avatar-size: 90px;
    margin-right: 0.50rem;
    width: var(--avatar-size);
    height: var(--avatar-size);
    min-width: var(--avatar-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @include media($sm) {
      --avatar-size: 80px;
    }
    svg path[class*=helmet_svg__helmet] {
      fill: var(--helmet-color);
    }
  }
  .name {
    color: #303030;
    font-weight: 700;
    font-size: 1.1rem;
    display: block;
    max-width: 55vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .speedTime {
    display: flex;
    align-items: baseline;
  }

  .time {
    color: $violet;
  }

  .divider {
    margin-right: 0.325rem;
    margin-left: 0.375rem;
    height: 12px;
    width: 2px;
    background-color: $blue;
  }

  .speed {
    color: $blue;
  }

  .penalty {
    color: $gray;
    transition: .3s ease;
  }
}
